{% extends 'base.html' %}
{% block title %}Services{% endblock title %}

{% block body %}
<div class="container">
    <h1 class="text-center"> Services</h1>
    <img src="https://source.unsplash.com/6000x1500/?services" class="d-block w-100" alt="...">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Our Services</h1>
            <p class="lead text-muted">As a premier university for women LCWU seeks to provide quality education to empower women through knowledge and skills so as to participate actively in the socio-economic development of Pakistan; as well as to impact the attitudes and beliefs of its graduates through various programs and activities to emerge as responsible, peaceful and tolerant citizens of the world.

                The strategic vision of LCWU 2020 has been developed keeping in view the current challenges that the University faces; it focuses on:
                
                1.    Improving quality of higher education through faculty development and internationalization;
                
                2.    Facilitating LCWU graduates to enter the workforce through career counseling, internships and job placement;
                
                3.    Enabling LCWU graduates to be responsible and peaceful citizens through community outreach programs.
                
                The LCWU Vision 2020 though forward looking is rooted deeply in the mission of the University as laid down by the Syndicate since its inception in 1922.
                 </p>
            <p>
              <a href="/services" class="btn btn-primary my-2">Welcome</a>
              <a href="/about" class="btn btn-secondary my-2">Check</a>
            </p>
          </div>
        </div>
      </section>

</div>

{% endblock body %}
